<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646408393719-hlqqmbuat1t32rfkdaveds1ku2cao231.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646408393719-hlqqmbuat1t32rfkdaveds1ku2cao231</string>
	<key>API_KEY</key>
	<string>AIzaSyAXhMePjW8i3cXTEcE7IEYcmHrFYUr7f9w</string>
	<key>GCM_SENDER_ID</key>
	<string>646408393719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plataformav1</string>
	<key>PROJECT_ID</key>
	<string>basetcdmx</string>
	<key>STORAGE_BUCKET</key>
	<string>basetcdmx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646408393719:ios:f71c49bc7e755d702154f2</string>
</dict>
</plist>